body {
    background-color: #3f3b3b; /* Dark background color */
    color: #fff; /* Light text color */
  }
.logo {
  width: auto; /* Adjust width as needed */
  height: 85%; /* Adjust height as needed */
  margin: 5px;
}
.center-align-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.valign-wrapper {
  display: flex;
  align-items: center;
}
.nav-wrapper {
    display: flex;
    background-color: #2BBBAD;
}