body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #3f3b3b; /* Dark background color */
    color: #fff; /* Light text color */
  }
main {
  flex: 1 0 auto;
}
.page-footer {
  background-color: #2BBBAD
}
.page-footer .btn {
  width: 100%;
}
.logo {
  width: auto; /* Adjust width as needed */
  height: 85%; /* Adjust height as needed */
  margin: 5px;
}
.center-align-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.valign-wrapper {
  display: flex;
  align-items: center;
}
.nav-wrapper {
    display: flex;
    background-color: #2BBBAD;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:0%;
}